In [1]:
records = {"1001": {'name': 'Dairymilk', 'quantity': 34, 'price': 150},
           "1002": {'name': 'Milky bar', 'quantity': 400, 'price': 15}, 
           "1003": {'name': 'Ferroro Rocher', 'quantity': 60, 'price': 600} ,
           "1004": {'name': 'Lollipop', 'quantity': 80, 'price': 5},
           "1005": {'name': 'Twix', 'quantity': 50, 'price': 95},
           "1006": {'name': 'Mars', 'quantity': 40, 'price': 150},
           "1007": {'name': 'Snickers', 'quantity': 70, 'price': 30},
           "1008": {'name': 'Nutella', 'quantity': 50, 'price': 100},
           "1009": {'name': 'Kinderjoy', 'quantity': 700, 'price': 40},
           "1010": {'name': 'Dark chocolate', 'quantity': 85, 'price': 98},
           "1011": {'name': 'Kit Kat', 'quantity': 300, 'price': 32},
           "1012": {'name': '5 star', 'quantity': 400, 'price': 23},
           "1013": {'name': 'Gems', 'quantity': 124, 'price': 15},
           "1014": {'name': 'Munch', 'quantity': 180, 'price': 5},
           "1015": {'name': 'Bournville', 'quantity': 300, 'price': 120}}

In [2]:
records

{'1001': {'name': 'Dairymilk', 'price': 150, 'quantity': 34},
 '1002': {'name': 'Milky bar', 'price': 15, 'quantity': 400},
 '1003': {'name': 'Ferroro Rocher', 'price': 600, 'quantity': 60},
 '1004': {'name': 'Lollipop', 'price': 5, 'quantity': 80},
 '1005': {'name': 'Twix', 'price': 95, 'quantity': 50},
 '1006': {'name': 'Mars', 'price': 150, 'quantity': 40},
 '1007': {'name': 'Snickers', 'price': 30, 'quantity': 70},
 '1008': {'name': 'Nutella', 'price': 100, 'quantity': 50},
 '1009': {'name': 'Kinderjoy', 'price': 40, 'quantity': 700},
 '1010': {'name': 'Dark chocolate', 'price': 98, 'quantity': 85},
 '1011': {'name': 'Kit Kat', 'price': 32, 'quantity': 300},
 '1012': {'name': '5 star', 'price': 23, 'quantity': 400},
 '1013': {'name': 'Gems', 'price': 15, 'quantity': 124},
 '1014': {'name': 'Munch', 'price': 5, 'quantity': 180},
 '1015': {'name': 'Bournville', 'price': 120, 'quantity': 300}}

In [3]:
import json
js =json.dumps(records)

fd = open("records.json",'w')
fd.write(js)
fd.close()

In [4]:
fd = open('records.json', 'r')
t = fd.read()
fd.close()

fd = open('records.json','w')
fd.write(t)
fd.close()

sales = {}

sales = json.dumps(sales)

fd = open("sales.json", 'w')
fd.write(sales)
fd.close()

In [5]:
import json
import time

In [6]:
fd = open('records.json','r')
t = fd.read()
fd.close()
dct = json.loads(t)

In [7]:
fd = open("sales.json", 'r')
sl = fd.read()
fd.close()
sales = json.loads(sl)
dct.keys()

dict_keys(['1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010', '1011', '1012', '1013', '1014', '1015'])

In [8]:
print("**********************************************")
for i in dct.keys():
  print(i, dct[i])

print("******************************************\n")
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


if (ui_prod in dct.keys()):                                                     
    if (dct[ui_prod]['quantity'] >= ui_quant):                                        
      print("Name:",dct[ui_prod]['name'])
      print("Price:",dct[ui_prod]['price'])
      print("Quantity:", ui_quant)
      print("------------------------------")
      print("Billing Amount:", dct[ui_prod]['price'] * ui_quant)

      dct[ui_prod]['quantity'] = dct[ui_prod]['quantity'] - ui_quant                        

      sales[str(len(sales)+1)] = {'prod_id' : ui_prod,                          
                                  "time_pr" :  time.ctime(), 
                                  'bill' : dct[ui_prod]['price'] * ui_quant, 
                                  'quantity' : ui_quant, 
                                  'price' : dct[ui_prod]['price'], 
                                  'pr_name' : dct[ui_prod]['name']}


    else:                                                                       
      print("Sorry, We are not having that much of quantity.")
      print("We're only having",dct[ui_prod]['quantity'],"quantity.")
      print("Would you like to purchase or not (Y/N)")
      ch = str(input("Y/N"))
      if (ch == "Y"):                                                          
        print("Name:",dct[ui_prod]['name'])
        print("Price:",dct[ui_prod]['price'])
        print("Quantity:", dct[ui_prod]['quantity'])
        print("------------------------------")
        print("Billing Amount:", dct[ui_prod]['price'] * dct[ui_prod]['quantity'])

        dct[ui_prod]['quantity'] = 0                                                  
        sales[str(len(sales)+1)] = {'prod_id' : ui_prod,                        
                                    "time_pr" :  time.ctime(), 
                                    'bill' : dct[ui_prod]['price'] * dct[ui_prod]['quantity'], 
                                    'quantity' : dct[ui_prod]['quantity'], 
                                    'price' : dct[ui_prod]['price'], 
                                    'pr_name' : dct[ui_prod]['name']}

      else:                                                                     
        print("Thankyou!")

else:                                                                           
  print("------------------------------")
  print("Product doesn't exist!")
  print("Please enter a valid product id")
  print("------------------------------")



sl = json.dumps(sales)                                                          
fd = open('sales.json','w')
fd.write(sl)
fd.close()

print("------------------------------")
print("Data Updated in Sales File!")
js = json.dumps(dct)                                                            
fd = open('records.json','w')
fd.write(js)
fd.close()

print("Data Updated in Inventory File!")

**********************************************
1001 {'name': 'Dairymilk', 'quantity': 34, 'price': 150}
1002 {'name': 'Milky bar', 'quantity': 400, 'price': 15}
1003 {'name': 'Ferroro Rocher', 'quantity': 60, 'price': 600}
1004 {'name': 'Lollipop', 'quantity': 80, 'price': 5}
1005 {'name': 'Twix', 'quantity': 50, 'price': 95}
1006 {'name': 'Mars', 'quantity': 40, 'price': 150}
1007 {'name': 'Snickers', 'quantity': 70, 'price': 30}
1008 {'name': 'Nutella', 'quantity': 50, 'price': 100}
1009 {'name': 'Kinderjoy', 'quantity': 700, 'price': 40}
1010 {'name': 'Dark chocolate', 'quantity': 85, 'price': 98}
1011 {'name': 'Kit Kat', 'quantity': 300, 'price': 32}
1012 {'name': '5 star', 'quantity': 400, 'price': 23}
1013 {'name': 'Gems', 'quantity': 124, 'price': 15}
1014 {'name': 'Munch', 'quantity': 180, 'price': 5}
1015 {'name': 'Bournville', 'quantity': 300, 'price': 120}
******************************************

Enter the product_Id: 1010
Enter the quantity: 30
Name: Dark chocolate
Price: 98
Quantity: 30
------------------------------
Billing Amount: 2940
------------------------------
Data Updated in Sales File!
Data Updated in Inventory File!

In [9]:
dct

{'1001': {'name': 'Dairymilk', 'price': 150, 'quantity': 34},
 '1002': {'name': 'Milky bar', 'price': 15, 'quantity': 400},
 '1003': {'name': 'Ferroro Rocher', 'price': 600, 'quantity': 60},
 '1004': {'name': 'Lollipop', 'price': 5, 'quantity': 80},
 '1005': {'name': 'Twix', 'price': 95, 'quantity': 50},
 '1006': {'name': 'Mars', 'price': 150, 'quantity': 40},
 '1007': {'name': 'Snickers', 'price': 30, 'quantity': 70},
 '1008': {'name': 'Nutella', 'price': 100, 'quantity': 50},
 '1009': {'name': 'Kinderjoy', 'price': 40, 'quantity': 700},
 '1010': {'name': 'Dark chocolate', 'price': 98, 'quantity': 55},
 '1011': {'name': 'Kit Kat', 'price': 32, 'quantity': 300},
 '1012': {'name': '5 star', 'price': 23, 'quantity': 400},
 '1013': {'name': 'Gems', 'price': 15, 'quantity': 124},
 '1014': {'name': 'Munch', 'price': 5, 'quantity': 180},
 '1015': {'name': 'Bournville', 'price': 120, 'quantity': 300}}

In [10]:
sales

{'1': {'bill': 2940,
  'pr_name': 'Dark chocolate',
  'price': 98,
  'prod_id': '1010',
  'quantity': 30,
  'time_pr': 'Thu Sep 16 15:25:35 2021'}}